/* ==UserStyle==
@name           WhatsApp blur
@description    Highly customizable, easy to use theme for WhatsApp with image blur effect.
@namespace      github.com/DamianSowinski/whatsapp
@homepageURL    https://github.com/DamianSowinski/whatsapp
@supportURL     https://github.com/DamianSowinski/whatsapp/wiki
@updateURL      https://raw.githubusercontent.com/DamianSowinski/whatsapp/master/whatsapp-blur.user.styl
@version        1.0.0
@author         Damian Sowiński <damian.sowinski@hotmail.com> (https://github.com/DamianSowinski)
@preprocessor   stylus

==/UserStyle== */

@-moz-document domain("web.whatsapp.com") {

}
